src/
tsconfig.json
node_modules/
.vscodeignore
.gitignore
**/*.map
*.vsix
.DS_Store
test/
.vscode/**
sample/**
scripts/
*.code-workspace
out/cli.js
.github/**
RELEASING.md
bun.lock
bun.lockb
package-lock.json
